.table{
  background-color: #fff;
  box-shadow: 0 2px 2px rgb(0 0 0 /10%);
}
.thead tr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border: 1px solid rgb(199, 198, 198);
}
.thead td{
  padding: 10px 30px;

}

.tbody tr{
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(199, 198, 198);
  justify-content: space-between;
}

.td{
  padding: 10px 30px;
}